@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContactViewModel>;

@{
    var status = "";

    if(TempData.ContainsKey("Info"))
    {
        status = TempData["Info"] as string;
    }
}

@using (Html.BeginUmbracoForm("ContactMail", "Mail"))
{
    if(status == "Sent")
    {
        <div class="alert alert-success d-flex alert-dismissible fade show" role="alert">
            <p class="fs-4 p-0 m-0">Your Mail has been recieved. We would get back to you shortly.</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if(status == "Failed")
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p class="fs-4 p-0 m-0">Something went wrong, we couldnt deliver your message.</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <div class="form-group mb-4">
        <label class="form-label fs-4 fw-bold m-0" for="name">Name</label>
        @Html.TextBoxFor(m => Model.Name, new { @class = "form-control border-primary fs-3 p-3 bg-transparent", @required = "required" })
        @Html.ValidationMessageFor(m => Model.Name)
    </div>
    <div class="form-group mb-4">
        <label class="form-label fs-4 fw-bold m-0" for="email">Email</label>
        @Html.TextBoxFor(m => Model.Email, new { @class = "form-control border-primary fs-3 p-3 bg-transparent", @required = "required" })
        @Html.ValidationMessageFor(m => Model.Email)
    </div>
    <div class="form-group mb-4">
        <label class="form-label fs-4 fw-bold m-0" for="phone">Phone Number</label>
        @Html.TextBoxFor(m => Model.Phone, new { @class = "form-control border-primary fs-3 p-3 bg-transparent" })
        @Html.ValidationMessageFor(m => Model.Phone)
    </div>
    <div class="form-group mb-4">
        <label class="form-label fs-4 fw-bold m-0" for="message">Message</label>
        @Html.TextAreaFor(m => Model.Message, new { @class = "form-control border-primary fs-3 p-3 bg-transparent", @required = "required" })
        @Html.ValidationMessageFor(m => Model.Message)
    </div>
    <div class="form-group d-grid my-5">
        <button type="submit" class="btn btn-primary fs-4 fw-bold">SEND MESSAGE</button>
    </div>
}