@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Testimonials>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var testimonials = Model.Value<BlockGridModel>("testimonialList");
}

<div class="container-fluid testimony px-5 pt-5">
    <div class="row w-100 d-flex justify-content-center align-items-center mb-5">
        <div class="mb-5">
            <h2 class="m-0 p-0 text-center fs-1 fw-bold">@Model?.TestimonialHeading</h2>
        </div>
    </div>
    <div class="testi-cap-cont d-flex justify-content-center flex-column align-items-center">
        <div class="testi-cap" id="testi-cap">
            @if(testimonials != null)
            {
                @foreach (var testimony in testimonials)
                {
                    var content = testimony.Content;
                    var image = content.Value<MediaWithCrops>("clientPicture");
                    var statement = content.Value<string>("testimony");
                    var name = content.Value<string>("clientName");
                    var hospital = content.Value<string>("clientHospital");

                    <div class="col-lg-3 col-md-5 col-sm-6 position-relative testi shadow pt-5 px-4">
                        <div class="position-absolute top-0 start-50 translate-middle testi-img">
                            <img src="@image?.MediaUrl()" alt="" width="70px" />
                        </div>
                        <div class="text-center mt-4">
                            <p class="m-0 p-0 text-primary fw-bold fs-4">@name</p>
                            <p class="p-0 m-0 fs-5">@hospital</p>
                            <div><i class="bi bi-quote fs-1"></i></div>
                        </div>
                        <div class="mt-2 text-center p-4">
                            <p class="fs-4">@statement</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-sm-6 position-relative testi shadow pt-5 px-4">
                        <div class="position-absolute top-0 start-50 translate-middle testi-img">
                            <img src="@image?.MediaUrl()" alt="" width="70px" />
                        </div>
                        <div class="text-center mt-4">
                            <p class="m-0 p-0 text-primary fw-bold fs-4">@name</p>
                            <p class="p-0 m-0 fs-5">@hospital</p>
                            <div><i class="bi bi-quote fs-1"></i></div>
                        </div>
                        <div class="mt-2 text-center p-4">
                            <p class="fs-4">@statement</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>