@inherits UmbracoViewPage<ContentModels.AboutPage>
@{
	Layout = "Master.cshtml";
	ViewData["Title"] = Model.Title;
    var personnels = Model.Value<BlockGridModel>("personnelList");
    var testimonials = Model.Value<BlockGridModel>("testimonials");
}

<div class="container-fluid p-0 m-0">
    <section class="aboutHead">
        <div class="aboutText">
            <h1>@Model?.AboutHead</h1>
            <p>@Model?.AboutSubHead</p>
        </div>
        <div id="carouselSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-id="0">
                    <img src="@Model?.FirstImg?.Url()" alt="">
                </div>
                <div class="carousel-item" data-id="1">
                    <img src="@Model?.SecondImg?.Url()" alt="">
                </div>
                <div class="carousel-item" data-id="2">
                    <img src="@Model?.FirstImg?.Url()" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="row whoWeAre">
        <div class="col-lg-8 col-md-12">
            <h3>Who we are?</h3>
            <h3 class="mb-5">Genesys Health vs GeneSys</h3>
            <div class="mt-5">
                <p>
                    @Model?.WhoWeAre
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-8">
            <div class="d-flex justify-content-center">
                <img src="@Model?.WhoWeAreImg?.Url()" alt="" width="250px">
            </div>
        </div>
    </section>
    <section class="challenge">
        <div class="row">
            <div class="circle cir1"></div>
            <div class="col-lg-4 col-md-8">
                <div class="d-flex justify-content-center">
                    <img src="@Model?.ChallengeImg?.Url()" alt="" width="200px">
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <h3 class="my-5">@Model?.ChallengeHeader</h3>
                <p>
                    @Model?.ChallengeContent
                </p>
            </div>
            <div class="circle cir2"></div>
        </div>
    </section>
    <div class="vision">
        <div class="circle"></div>
        <div class="visionText">
            <h2>VISION</h2>
            <p>
                @Model?.Vision
            </p>
        </div>
    </div>
    <div class="mission">
        <div class="circle cir1"></div>
        <div class="leftVecCon">
            <img src="~/assets/images/About Us/leftVec.png" alt=""/>
        </div>
        <div class="missionText">
            <h2>MISSION</h2>
            <p>
                @Model?.Mission
            </p>
        </div>
        <div class="rightVecCon">
            <img src="~/assets/images/About Us/rightVec.png" alt=""/>
        </div>
        <div class="circle cir2"></div>
    </div>
    <div class="gallery">
        <div class="d-flex justify-content-center galleryImg">
            @if(Model?.GalleryImgs != null)
            {
                @foreach (var image in Model.GalleryImgs)
                {
                    <div class="galCont">
                        <img src="@image.Url()" class="galImg" alt=""/>
                    </div>
                }
            }
        </div>
    </div>
    <div class="values">
        <div class="valueText">
            <h2>CORE VALUES</h2>
            <h3>Our Core Values That Define Us</h3>
            <p>Our values are summed up in one word: “IDEAL.”</p>
        </div>
        <div>
            <div class="d-flex justify-content-center align-items-center flex-wrap">
                <div class="row valuesCard">
                    <div class="img col-md-3 col-sm-6">
                        <img src="~/assets/images/About Us/integrity.png" alt="">
                    </div>
                    <div class="text col-md-9 col-sm-11">
                        <h3>Integrity</h3>
                        <p>
                            In all we do, we do it with integrity! This is our core - internally and externally.
                        </p>
                    </div>
                </div>
                <div class="row valuesCard">
                    <div class="img col-md-3 col-sm-6">
                        <img src="~/assets/images/About Us/deligence.png" alt="">
                    </div>
                    <div class="text col-md-9 col-sm-11">
                        <h3>Diligence</h3>
                        <p>
                            We understand the challenges and recognize that we must work hard and smart to surmount them.
                        </p>
                    </div>
                </div>
                <div class="row valuesCard">
                    <div class="img col-md-3 col-sm-6">
                        <img src="~/assets/images/About Us/empathy.png" alt="">
                    </div>
                    <div class="text col-md-9 col-sm-11">
                        <h3>Empathy</h3>
                        <p>
                            Our relationships - internally and externally are organically built around empathy. Our understanding of this value distinguishes our approach to client service delivery.
                        </p>
                    </div>
                </div>
                <div class="row valuesCard">
                    <div class="img col-md-3 col-sm-6">
                        <img src="~/assets/images/About Us/accountability.png" alt="">
                    </div>
                    <div class="text col-md-9 col-sm-11">
                        <h3>Accountability</h3>
                        <p>
                            Our word is our bond! We take responsibility for our actions and communicate clearly.
                        </p>
                    </div>
                </div>
                <div class="row valuesCard">
                    <div class="img col-md-3 col-sm-6">
                        <img src="~/assets/images/About Us/loyalty.png" alt="">
                    </div>
                    <div class="text col-md-9 col-sm-11">
                        <h3>Loyalty</h3>
                        <p>
                            We value our client relationships and we will go the extra mile to ensure everyone is satisfied.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aboutUs">
        <div class="container-fluid px-5">
            <div class="row p-0 aboutUsCont">
                <div class="left px-md-5 px-sm-1">
                    <div>
                        <h1 class="mb-3">
                            @Model?.AboutIntroHeading
                        </h1>
                    </div>
                    <div>
                        <p>
                            @Model?.AboutIntroSubHeading
                        </p>
                    </div>
                    <div class="position-absolute hide" style="top:40%; left:80%;">
                        <div class="" style="transform: rotate(-55deg);">
                            <img src="~/assets/images/News/Asset 1@3x 1.png" alt="" width="100px"/>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="position-relative" style="width:350px;height:200px">
                        <div class="position-absolute" style="top:0;left:0">
                            <img src="~/assets/images/About Us/logo2.png" alt="" width="200px"/>
                        </div>
                        <div class="position-absolute" style="top:50px;left:80px">
                            <img src="~/assets/images/About Us/logo1.png" alt="" width="200px"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team">
        <div class="container flexpp-cont d-flex justify-content-center flex-column align-items-center">
            <div class="personnel-arrow personnel-arrow-left" onclick="scrollL()"><i class="bi bi-chevron-double-left"></i></div>
            <div class="d-flex flexpp mt-5">
                @if (personnels != null)
                {
                    @foreach (var personnel in personnels)
                    {
                        var content = personnel.Content;
                        var name = content.Value<string>("personnelName");
                        var image = content.Value<MediaWithCrops>("personnelIMG");
                        var designation = content.Value<string>("personnelDesignation");


                        <div class="mx-5 Frame shadow bg-body rounded p-4">
                            <div class="photoFrame">
                                <img src="@image?.MediaUrl()" class="img-fluid" alt=""/>
                            </div>
                            <div>
                                <p class="fw-bold fs-4 m-0 p-0 text-center">@name</p>
                                <p class="personnel-desg">@designation</p>
                                <div class="d-flex justify-content-center mt-4" style="color:#000;">
                                    <div class="mx-2">
                                        <a href="">
                                            <i class="bi bi-facebook"></i>
                                        </a>
                                    </div>
                                    <div class="mx-2">
                                        <a href="">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </div>
                                    <div class="mx-2">
                                        <a href="">
                                            <i class="bi bi-linkedin"></i>
                                        </a>
                                    </div>
                                    <div class="mx-2">
                                        <a href="">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="personnel-arrow personnel-arrow-right" onclick="scrollR()"><i class="bi bi-chevron-double-right"></i></div>
        </div>
    </div>
    <div class="container-fluid testimony px-5 pt-5">
        <div class="row w-100 d-flex justify-content-center align-items-center mb-5">
            <div class="mb-5">
                <h2 class="m-0 p-0 text-center fs-1 fw-bold">@Model?.TestimonialHeading</h2>
            </div>
        </div>
        <div class="testi-cap-cont d-flex justify-content-center flex-column align-items-center">
            <div class="aboutTest">
                @if(testimonials != null)
                {
                    @foreach (var testimony in testimonials)
                    {
                        var content = testimony.Content;
                        var image = content.Value<MediaWithCrops>("clientPicture");
                        var statement = content.Value<string>("testimony");
                        var name = content.Value<string>("clientName");
                        var hospital = content.Value<string>("clientHospital");

                        <div class="col-lg-3 col-md-5 col-sm-6 position-relative testi shadow pt-5 px-4">
                            <div class="position-absolute top-0 start-50 translate-middle testi-img">
                                <img src="@image?.MediaUrl()" alt="" width="70px" />
                            </div>
                            <div class="text-center mt-4">
                                <p class="m-0 p-0 text-primary fw-bold fs-4">@name</p>
                                <p class="p-0 m-0 fs-5">@hospital</p>
                                <div><i class="bi bi-quote fs-1"></i></div>
                            </div>
                            <div class="mt-2 text-center p-4">
                                <p class="fs-4" style="line-height:110%;">@statement</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-5 col-sm-6 position-relative testi shadow pt-5 px-4">
                            <div class="position-absolute top-0 start-50 translate-middle testi-img">
                                <img src="@image?.MediaUrl()" alt="" width="70px" />
                            </div>
                            <div class="text-center mt-4">
                                <p class="m-0 p-0 text-primary fw-bold fs-4">@name</p>
                                <p class="p-0 m-0 fs-5">@hospital</p>
                                <div><i class="bi bi-quote fs-1"></i></div>
                            </div>
                            <div class="mt-2 text-center p-4">
                                <p class="fs-4">@statement</p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="p-0 container-fluid mb-5">
        <div class="join p-5">
            <div class="joinText">
                <h3>Check out our career page</h3>
                <h2>We are always looking for <span>talents</span> to create <span>magic</span> together with.
                </h2>
                <a href="/career">Go to career page </a>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Partials/_footer.cshtml")