@inherits UmbracoViewPage<ContentModels.CareerPage>
@{
	Layout = "Master.cshtml";
	ViewData["Title"] = Model.Title;
	var jobOpenings = Model.Value<BlockGridModel>("JobOpenings");
}

<section class="career">
	<div class="row">
		<div class="col-lg-5 col-md-8">
			<div class="careerText">
				<h3>
					@Model.SubHeading
				</h3>
			</div>
		</div>
		<div class="col-lg-7 col-md-12">
			<h1>@Model.Header</h1>
			<div class="careerCont">
				@if(jobOpenings != null)
				{
					@if(jobOpenings.Any())
					{
						@foreach (var item in jobOpenings)
						{
							var content = item.Content;
							var title = content.Value<string>("jobTitle");
							var location = content.Value<string>("location");
							var type = content.Value<string>("jobType");
							var link = content.Value<Link>("jobLink");

							if (link != null)
							{
								<div class="careerCard">
									<h2>@title</h2>
									<p>@location | <span>@type</span></p>
									<a href="@link.Url">Apply Now</a>
								</div>
							}
						}
					} else
					{
						<h2>No Job Opening at the Moment. Kindly check back later.</h2>
					}
				}
			</div>
		</div>
	</div>
	<div class="p-5 container mb-5">
        <div class="join p-5">
            <div class="joinText">
                <h3>Can't find the position you are looking for?</h3>
                <p>
					Don't worry, get in touch with us anyways, we are always looking for great team members to join us.
				</p>
                <a href="/career">Send email to: People@genesys-health.com</a>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("~/Views/Partials/_footer.cshtml")