@inherits UmbracoViewPage<ContentModels.HomePage>
@{
	Layout = "Master";
	ViewData["Title"] = Model.Title;
    var package = Model.Value<BlockGridModel>("InfoPackage");
    var planItems = Model.Value<BlockGridModel>("PlanItems");
    var questions = Model.Value<BlockGridModel>("questions");
    var testimonials = Model.Value<BlockGridModel>("testimonials");
    var mainImage = Model.Value<IEnumerable<MediaWithCrops>>("MainImage");

    
    List<BlockGridItem> listOfQuestion = new List<BlockGridItem>();
    List<BlockGridItem> listOfRandomQuestions = new List<BlockGridItem>();
    @* Array.ForEach<BlockGridModel>(questions, question => listOfQuestion.Add(question)); *@
    if(questions != null)
    {
        foreach(var question in questions)
        {
            listOfQuestion.Add(question);
        }
    }

    static List<BlockGridItem> GetRandomElements<BlockGridItem>(IEnumerable<BlockGridItem> list, int elementCount)
    {
        return list.OrderBy(x => Guid.NewGuid()).Take(elementCount).ToList();
    }

    listOfRandomQuestions = GetRandomElements(listOfQuestion, 5);
}

<div class="container-fluid intro position-relative px-5 pt-5">
    <div class='IntroRow'>
        <div class="col-lg-6 col-md-9 col-sm-12 alpha">
          <h1>@Model.MainHeading</h1>
          <p>@Model.MainSubHeading</p>
          <div class="btn-gg">
            <a href="http://genesyshmis-001-site1.etempurl.com/availablemodules" class="btn started btn-primary mb-5">Get Started</a>
            <a class="btn more mx-3 mb-5">Learn More</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-9 d-flex justify-content-center align-items-center beta">
          <div class="img-container position-relative mx-2">
            <div class="position-absolute one">
              <img src="/assets/images/safety.png" alt=""/>
            </div>
            <div class="inner-img-container">
            @* <img class="" src="/assets/images/portrait.png" alt=""/> *@
            @if (mainImage != null)
            {
                @foreach (var item in mainImage)
                {
                    if (item == mainImage.First())
                    {
                        <img class="mainImage activeMainImage" src="@item.MediaUrl()" alt=""/>
                    } else 
                    {
                        <img class="mainImage" src="@item.MediaUrl()" alt=""/>
                    }
                }
            }
            </div>
            <div class="position-absolute two">
              <img src="/assets/images/Frame.png" alt=""/>
            </div>
            <div class="position-absolute three">
              <img src="/assets/images/first.png" alt=""/>
          </div>
          </div>
        </div>
    </div>
    <div class="row customers position-absolute top-100 start-50 translate-middle hide">
        <div class="col-12 xframe d-flex justify-content-evenly align-items-center">
            <div>
                <div class="bframe rounded-4 p-2 position-relative">
                    <h3 class="p-0 fs-3 fw-bold m-0">+100</h3>
                    <small class="fs-6 p-0 m-0">Dont just take our word for it</small>
                    <img src="/assets/images/arrow_.png" class="position-absolute" width="25px" style="top:20%;left:95%" alt=""/>
                </div>
            </div>
            <div class="d-flex f-frame justify-content-center align-items-center">
                <div class="frame rounded-4 d-block">
                    <img src="/assets/images/reddington.png" alt=""/>
                </div>
                <div class="frame rounded-4">
                    <img src="/assets/images/kaaf.png" alt=""/>
                </div>
                <div class="frame rounded-4">
                    <img src="/assets/images/subol.png" alt=""/>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="productSec home">
    <div class="productSecText">
        <h3>@Model?.InfoTitle</h3>
        <p>
            @Model?.InfoSubHeading
        </p>
    </div>
    <div class="productDisplay">
        @if(package != null)
        {
            @foreach (var item in package)
            {
                var content = item.Content;
                var name = content.Value<string>("packageTitle");
                var img = content.Value<MediaWithCrops>("packageIMG");
                var desc = content.Value<string>("packageDesc");
                
                <div class="productCard rounded shadow bg-body">
                    <img src="@img?.MediaUrl()" alt="">
                    <h3>@name</h3>
                    <p>
                        @desc
                    </p>
                    <div class="rdm">
                        <a href="" class="btn btn-primary py-2 px-3">Read More</a>
                    </div>
                </div>
            }
        }
    </div>
    <div class="container d-flex justify-content-end mb-5">
        <a href="" class="sell-all">See All</a>
    </div>
    <div class="d-flex justify-content-center">
        <a href="" class="btn btn-primary compare">Compare our products</a>
    </div>
</section>

<div class="container-fluid trophy px-5 pt-5">
    <div class="row w-100 d-flex justify-content-center align-items-center">
        <div class="text-center mb-5 trophyText">
            <h1 class="m-0 p-0">Why We Are The MVP</h1>
            <p class="m-0 p-0">
                Introducing the indigenous leaders in bespoke HMIS development!
            </p>
        </div>
    </div>
    <div class="row h-75">
        <div class="col-lg-6 col-md-9 d-flex justify-content-center align-items-center h-100 second">
            <div class="row">
                <div class="col-2">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="bi bi-1-square-fill"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="bi bi-2-circle-fill"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="bi bi-3-circle-fill"></div>
                    </div>
                </div>
                <div class="col-10">
                    <div class="ms-3">
                        <div class="mb-4">
                            <h3 class="mb-4 fs-2 fw-bold">WE</h3>
                            <p class="fs-4"> have over a century of acquireed hosital experiences and best practices </p>
                        </div>
                        <div class="mb-4">
                            <h3 class="mb-4 fs-2 fw-bold">WILL</h3>
                            <p class="fs-4"> revolutionize your hosital operations and enhance patient care </p>
                        </div>
                        <div class="mb-4">
                            <h3 class="mb-4 fs-2 fw-bold">Rock it</h3>
                            <p class="fs-4"> With our HMIS, say goodbye to guesswork and hello to real-time data and analytics. With our solutions, business leaders and decision-makers can now track key metrics, indentify areas for improvement, and most imortantly rock it!  </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-9 d-flex justify-content-center align-items-center h-100">
            <img src="/assets/images/trophy.png" alt="Trophy" width="400px" />
        </div>
    </div>
</div>

<div class="container-fluid packages px-5 pt-4">
    <div class="row w-100 d-flex justify-content-center align-items-center">
        <div class="planText text-center">
            <h1 class="m-0 p-0">@Model?.PlanHeading</h1>
            <div class="m-auto" style="width: 70%;">
                <p class="m-0 p-0 fs-3">@Model?.PlanSubHeading</p>
            </div>
        </div>
    </div>
    <div class="row card-container px-5 pt-5">
        @if (planItems != null)
        {
            @foreach(var plan in planItems)
            {
                var content = plan.Content;
                var name = content.Value<string>("planName");
                var type = content.Value<string>("planType");
                var icon = content.Value<MediaWithCrops>("planIcon");
                var link = content.Value<Link>("planLink");
                var cost = content.Value<int>("planCost");
                var benefits = content.Value<IEnumerable<string>>("planBenefits");
                    
                if (link != null)
                {
                    <div class="col-lg-3 col-md-6 shadow ps-4 mb-5 card pt-3">
                        <div class="d-flex justify-content-start align-items-center">
                            <img class="sm me-2" src="@icon?.MediaUrl()" alt=""/>
                            <h3 class="m-0">@name <span class="title">(@type)</span></h3>
                        </div>
                        <div class="mt-3">
                            <p><span class="cost">&#8358;@cost</span><span class="month">/month</span></p>
                        </div>
                        <div class="">
                            <p>What will you get</p>
                        </div>
                        <div class="mt-0">
                            @if (benefits != null)
                            {
                                @foreach (var benefit in benefits)
                                {
                                    <div class="d-flex justify-content-start align-items-center w-100 mb-3 ms-2">
                                        <i class="bi bi-check me-3"></i>
                                        <div class="w-75">
                                            <p class="m-0 pt-2 details pb-2">@benefit</p>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="text-center pe-3">
                                <a href="@link.Url" class="btn text-nowrap getst btn-primary w-50 mt-4">Dive In</a>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-lg-6 col-md-8 mb-4 alp">
            <div class="row">
                @if(listOfRandomQuestions != null)
                {
                    @foreach (var question in listOfRandomQuestions)
                    {
                        var content = question.Content;
                        var ques = content.Value<string>("question");
                        var answer = content.Value<string>("answer");

                        <div class="col-12 question bg-light mb-3 ps-4 pe-5 py-4">
                            <div class="questionTitle">
                                <p class="m-0 p-0 fs-4 fw-bold">@ques</p>
                                <button class="question-btn">
                                    <span class="icon-right"><i class="bi fs-2 fw-bold bi-arrow-right-circle"></i></span>
                                    <span class="icon-down"><i class="bi fs-2 fw-bold bi-arrow-down-circle"></i></span>
                                </button>
                            </div>
                            <div class="questionText">
                                <hr>
                                <p>@answer</p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-lg-6 col-md-8 px-4 bet">
            <h3 class="ms-4 mb-4 hsss">
                @Model?.FaqHeading
            </h3>
            <div class="d-flex justify-content-center align-items-center">
                <img class="" src="@Model?.FaqImage?.Url()" alt="" width="250px"/>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid testimony px-5 pt-5">
    <div class="row w-100 d-flex justify-content-center align-items-center mb-5">
        <div class="mb-5">
            <h2 class="m-0 p-0 text-center fs-1 fw-bold">@Model?.TestimonialHeading</h2>
        </div>
    </div>
    <div class="testi-cap-cont d-flex justify-content-center flex-column align-items-center">
        <div class="testi-cap" id="testi-cap">
            @if(testimonials != null)
            {
                @foreach (var testimony in testimonials)
                {
                    var content = testimony.Content;
                    var image = content.Value<MediaWithCrops>("clientPicture");
                    var statement = content.Value<string>("testimony");
                    var name = content.Value<string>("clientName");
                    var hospital = content.Value<string>("clientHospital");

                    <div class="col-lg-3 col-md-5 col-sm-6 position-relative testi shadow pt-5 px-4">
                        <div class="position-absolute top-0 start-50 translate-middle testi-img">
                            <img src="@image?.MediaUrl()" alt="" width="70px" />
                        </div>
                        <div class="text-center mt-4">
                            <p class="m-0 p-0 text-primary fw-bold fs-4">@name</p>
                            <p class="p-0 m-0 fs-5">@hospital</p>
                            <div><i class="bi bi-quote fs-1"></i></div>
                        </div>
                        <div class="mt-2 text-center p-4">
                            <p class="fs-4" style="line-height:110%;">@statement</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-sm-6 position-relative testi shadow pt-5 px-4">
                        <div class="position-absolute top-0 start-50 translate-middle testi-img">
                            <img src="@image?.MediaUrl()" alt="" width="70px" />
                        </div>
                        <div class="text-center mt-4">
                            <p class="m-0 p-0 text-primary fw-bold fs-4">@name</p>
                            <p class="p-0 m-0 fs-5">@hospital</p>
                            <div><i class="bi bi-quote fs-1"></i></div>
                        </div>
                        <div class="mt-2 text-center p-4">
                            <p class="fs-4" style="line-height:110%;">@statement</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<div class="p-5 container">
    <div class="join_home p-1 mt-5 d-flex align-items-center">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-7 col-md-9 m-5 second">
                <h3 style="font-size:28px;font-weight:700;color:#324054;" class="mb-5">
                    What are you waiting for? <br /> Join thousands of others today.
                </h3>
                <p class="mb-5" style="color:#324054;">
                    Revolutionize Your Healthcare Management with Cutting-Edge Technology - Don't Miss Out!
                </p>
                <a href="http://genesyshmis-001-site1.etempurl.com/availablemodules" class="btn fs-5" style="background-color:#0ABFF8; color:#fff; border-radius:40px;padding:10px 20px;">
                    MAKE THE SWITCH TODAY
                </a>
            </div>
            <div class="col-lg-4 col-md-7 d-flex justify-content-center align-items-center">
                <div>
                    <img src="/assets/images/About Us/fun-3d.png" class="img-fluid" alt="" width="150px"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid newsletter-home">
    <div class="container">
        <div class="row d-flex justify-content-between px-5">
            <div class="col-lg-5 col-md-8">
                <div class="tag"> <p>Subscribe to Our Newsletter</p></div>
                <h3 class="sbns mb-3">For Latest News & Updates</h3>
                <p class="fs-5">
                    Stay Informed and Get Exclusive Access to the Latest Industry Insights and Innovations for Your Hospital.
                </p>
            </div>
            <div class="col-lg-5 col-md-8 d-flex align-items-center ">
                @* <form action="https://genesys-health.us14.list-manage.com/subscribe/post?u=ab97c0ec2b3935027b5fb874e&amp;id=21d3b63641&amp;f_id=003709e0f0" method="post" id="mc-embedded-subscribe-form" class="mt-5 validate w-100" target="_blank" nonvalidate>
                    <div class="form-group position-relative">
                        <div class="p-0 form-group">
                            <input type="email" name="EMAIL" class="form-control py-4 fw-bold fs-5 ps-3" placeholder="Email Address" required style="border-radius: 30px;"/>
                        </div>
                        <div class="p-0 form-group position-absolute top-50 end-0 translate-middle-y">
                            <button type="submit" name="subscribe" style="border-radius:50%; border: 1px solid transparent; background: #0ABFF8; color:white; padding: 5px 12px;">
                                <i class="bi bi-send fs-1"></i>
                            </button>
                        </div>
                    </div>
                </form> *@
                <form id="sib-form" class="mt-5 validate w-100" data-type="subscription">
                    <div class="form-group position-relative">
                        <div class="p-0 form-group">
                            <input type="email" id="EMAIL" name="EMAIL" class="form-control py-4 fw-bold fs-5 ps-3" placeholder="Email Address" required style="border-radius: 30px;"/>
                        </div>
                        <div class="p-0 form-group position-absolute top-50 end-0 translate-middle-y">
                            <button type="submit button trigger" name="subscribe" style="border-radius:50%; border: 1px solid transparent; background: #0ABFF8; color:white; padding: 5px 12px;" data-bs-toggle="modal" data-bs-target="#successModal">
                                <i class="bi bi-send fs-1"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @* <div class='container subscribe-success'><button type="button" class="btn trigger" data-toggle="modal" data-target="#successModal"> MAIL REPORT </button>
        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-none"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>
                    <div class="modal-body p-0">
                        <div class="crop"> <img src="https://i.imgur.com/Mdz5Nma.jpg" width="100%"> </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <h2>Woohoo</h2>
                    <p class="text-center"><small class="text-muted">Thank you for your subscription. You'll be sent the next issue of our newspaper shortly </small></p>
                    <div class="d-flex justify-content-center"> <button type="button" class="okay btn">ok</button>
                        <p class="setting"><small><strong><u>Setting</u></strong></small></p>
                        <p><strong></strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div> *@

    <div class="modal" id="successModal" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-none">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-0">
                    @* <div class="crop"> <img src="https://i.imgur.com/Mdz5Nma.jpg" width="100%"> </div> *@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>

 @await Html.PartialAsync("~/Views/Partials/_footer.cshtml")