@inherits UmbracoViewPage<ContentModels.NewsPage>
@{
	Layout = "Master.cshtml";
	ViewData["Title"] = Model.Title;
    var newsletters = Model.Value<BlockGridModel>("news");
    List<BlockGridItem> product_update = new List<BlockGridItem>();
    List<BlockGridItem> news_letter = new List<BlockGridItem>();
    List<BlockGridItem> case_study = new List<BlockGridItem>();
    
    @*Random List of all News (3)*@
    List<BlockGridItem> randomNews = new List<BlockGridItem>();
    List<BlockGridItem> randomProductUpdate = new List<BlockGridItem>();
    List<BlockGridItem> randomCaseStudy = new List<BlockGridItem>();

    if(newsletters != null)
    {
        @foreach(var newsletter in newsletters)
        {
            if(newsletter.Content.Value<string>("newsCategory") == "Product Updates")
            {
                product_update.Add(newsletter);
            } 
            else if(newsletter.Content.Value<string>("newsCategory") == "Newsletters")
            {
                news_letter.Add(newsletter);
            }
            else if(newsletter.Content.Value<string>("newsCategory") == "Case Studies")
            {
                case_study.Add(newsletter);
            }
        }
    }

    static List<BlockGridItem> GetRandomElements<BlockGridItem>(IEnumerable<BlockGridItem> list, int elementCount)
    {
        return list.OrderBy(x => Guid.NewGuid()).Take(elementCount).ToList();
    }

    randomNews = GetRandomElements(news_letter, 1);
    randomProductUpdate = GetRandomElements(product_update, 1);
    randomCaseStudy = GetRandomElements(case_study, 2);
    @*End of Random List*@
}

<div class="container-fluid p-0">
    <div class="newshead">
        <div class="container-fluid px-0">
            <div>
                <h2 class="text-center">@Model.Heading</h2>
                <div class="container w-75 px-5">
                    <p class="text-center fs-4">
                        @Model.SubHeading
                    </p>
                </div>
            </div>
            <div class="newsSlider">
                <div id="carouselSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner d-flex justify-content-center">
                        <div class="carousel-itm" data-id="0">
                            <img src="@Model?.MainImage?.Url()" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid news">
        <h2 class="text-center fs-1">Newsletter</h2>
        @if(randomNews.Any())
        {
            foreach (var item in randomNews)
            {
                var content = item.Content;
                var date = content.Value<DateTime>("newsDate");
                var link = content.Value<Link>("newsLink");
                var summary = content.Value<string>("newsSummary");
                var title = content.Value<string>("newsTitle");
                var news = content.Value<BlockGridModel>("news");
                var category = content.Value<string>("newsCategory");
                
                <div class="row newslet">
                    <div class="col-lg-6 col-md-10 d-flex justify-content-center second">
                        <div class="imgBxII">
                            <div class="newst">
                                <div class="newstinner">
                                    @if(news != null)
                                    {
                                        @foreach (var comp in news)
                                        {
                                            var newsItem = comp.Content;
                                            var newsLink = newsItem.Value<Link>("bookLink");
                                            var newsImage = newsItem.Value<MediaWithCrops>("bookImage");

                                            <div class="imgcont">
                                                <a href="@newsLink?.Url">
                                                    <img src="@newsImage?.MediaUrl()" alt=""/>
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-10 d-flex justify-content-center pb-5">
                        <div class="w-75">
                            <div>
                                <p class="fs-4 title-date">@category - @date.ToLongDateString() </p>
                            </div>
                            <div>
                                <h3 class="fw-bold fs-1">@title</h3>
                            </div>
                            <div>
                                <p class="fs-4">@summary</p>
                            </div>
                            <div>
                                <a class="fs-2" href="@link?.Url">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="newslet">
                @*If Empty*@
                <h3 class="text-center">No Newsletter Update yet<br/>Check back later</h3>
            </div>
        }
        <a href="#" class="seeAll">See All</a>
    </div>
    <div class="container-fluid productUpdate">
        <h2 class="text-center fs-1">Product Updates</h2>
        @if(randomProductUpdate.Any())
        {
            foreach (var item in randomProductUpdate)
            {
                var content = item.Content;
                var date = content.Value<DateTime>("newsDate");
                var link = content.Value<Link>("newsLink");
                var summary = content.Value<string>("newsSummary");
                var title = content.Value<string>("newsTitle");
                var news = content.Value<BlockGridModel>("news");
                var category = content.Value<string>("newsCategory");
                
                <div class="row newslet">
                    <div class="col-lg-6 col-md-10 d-flex justify-content-center second">
                        <div class="imgBxII">
                            <div class="newst">
                                <div class="newstinner">
                                    @if(news != null)
                                    {
                                        @foreach (var comp in news)
                                        {
                                            var newsItem = comp.Content;
                                            var newsLink = newsItem.Value<Link>("bookLink");
                                            var newsImage = newsItem.Value<MediaWithCrops>("bookImage");

                                            <div class="imgcont">
                                                <a href="@newsLink?.Url">
                                                    <img src="@newsImage?.MediaUrl()" alt=""/>
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-10 d-flex justify-content-center pb-5">
                        <div class="w-75">
                            <div>
                                <p class="fs-4 title-date">@category - @date.ToLongDateString() </p>
                            </div>
                            <div>
                                <h3 class="fw-bold fs-1">@title</h3>
                            </div>
                            <div>
                                <p class="fs-4">@summary</p>
                            </div>
                            <div>
                                <a class="fs-2" href="@link?.Url">READ MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="newslet">
                @*If Empty*@
                <h3 class="text-center">No Product Update yet<br/>Check back later</h3>
            </div>
        }
        <a href="#" class="seeAll">See All</a>
    </div>
    <div class="container-fluid caseStudy">
        <h2 class="text-center fs-1">Case Studies</h2>
        <div class="row newslet">
            <div class="col-lg-6 col-md-10 d-flex justify-content-center second">
                <div class="imgBxII">
                    <div class="newst">
                        <div class="newstinner">
                            <div class="imgcont">
                                <a href="#">
                                    <img src="~/assets/images/News/Dashboard ERP.png" alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 d-flex justify-content-center pb-5">
                <div class="w-md-75 w-md-100">
                    <div>
                        <p class="fs-4 title-date">CASE STUDY - JULY 01, 2022 </p>
                    </div>
                    <div>
                        <h3 class="fw-bold fs-1">Version 2 Case Study</h3>
                    </div>
                    <div>
                        <p class="fs-4">2mins ago</p>
                    </div>
                    <div>
                        <a class="fs-2" href="#">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="seeAll">See All</a>
    </div>

    <div class="container newsletter">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-10 second">
                <h3 class="sbns">Want updates straight to your inbox?</h3>
                <p class="fs-5 mb-5">
                    We know you barely have time for all the hustle and bustle of everyday life, but you still want to stay on top of your health trends, 
                    news and the buzz of healthcare. Our GeneSys Health Tech Insider newsletter is loaded with the best of content across the intersection 
                    of health and tech. 
                    We urge you to kick back, chill and relax, while you read.
                </p>
                <form action="https://genesys-health.us14.list-manage.com/subscribe/post?u=ab97c0ec2b3935027b5fb874e&amp;id=21d3b63641&amp;f_id=003709e0f0" method="post" id="mc-embedded-subscribe-form" class="mt-5 validate" target="display-frame" nonvalidate>
                    <div class="row gap-2 form-group">
                        <div class="col-7 p-0 form-group">
                            <input type="email" id="EMAIL" name="EMAIL" class="form-control rounded-start py-4 fw-bold fs-5 ps-3" placeholder="Enter your e-mail address" required/>
                        </div>
                        <div class="col-4 d-grid p-0 form-group">
                            <button type="submit" name="subscribe" class="fw-bold fs-5" style="border-radius:0 5px 5px 0; background: #005AC0; border:1px solid transparent; color:white;">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-8 nl-img">
                <img src="~/assets/images/ffv 1.png" width="420px" alt="" />
            </div>
        </div>
    </div>
    <iframe name="display-frame" style="display:none;"></iframe>
</div>

 @await Html.PartialAsync("~/Views/Partials/_footer.cshtml")