@inherits UmbracoViewPage<ContentModels.ProductUpdates>
@{
	Layout = "Master.cshtml";
	ViewData["Title"] = Model.Title;
    IPublishedContent globalContent = Model.Value<IPublishedContent>("globalContent");
    var newsletters = globalContent.Value<BlockGridModel>("news");
    List<BlockGridItem> product_update = new List<BlockGridItem>();
    



    if(newsletters != null)
    {
        @foreach(var newsletter in newsletters)
        {
            if(newsletter.Content.Value<string>("newsCategory") == "Product Updates")
            {
                product_update.Add(newsletter);
            } 
        }
    }
}

<div class="container-fluid p-0 position-relative">
    <div class="newshead">
        <div class="container-fluid px-0">
            <div>
                <h2 class="text-center p-0 m-0">Latest Product Updates</h2>
                <div class="container w-75 px-5">
                    <p class="text-center fs-4">
                        Get latest news on our latest product
                    </p>
                </div>
            </div>
            <div class="newsSlider">
                <div id="carouselSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-pu">
                        <div class="carousel-item smm active" data-id="0">
                            <img src="~/assets/images/News/ChatGPT.png" alt="">
                        </div>
                        <div class="carousel-item smm" data-id="1">
                            <img src="~/assets/images/News/ChatGPT.png" alt="">
                        </div>
                        <div class="carousel-item smm" data-id="2">
                            <img src="~/assets/images/News/ChatGPT.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid news">
        @if(product_update.Any())
        {
            var id = 0;
            foreach (var item in product_update)
            {
                var content = item.Content;
                var date = content.Value<DateTime>("newsDate");
                var link = content.Value<Link>("newsLink");
                var summary = content.Value<string>("newsSummary");
                var title = content.Value<string>("newsTitle");
                var news = content.Value<BlockGridModel>("news");
                var category = content.Value<string>("newsCategory");
                var newsContent = content.Value<System.String>("newsContent");
                var image = content.Value<MediaWithCrops>("newsImage");
                
                <div class="row newslet">
                    <div class="col-lg-6 col-md-10 d-flex justify-content-center second">
                        <div class="imgBxII">
                            <div class="newst">
                                <div class="newstinner">
                                    @if(news != null)
                                    {
                                        @foreach (var comp in news)
                                        {
                                            var newsItem = comp.Content;
                                            var newsLink = newsItem.Value<Link>("bookLink");
                                            var newsImage = newsItem.Value<MediaWithCrops>("bookImage");

                                            <div class="imgcont">
                                                <a href="@newsLink?.Url">
                                                    <img src="@newsImage?.MediaUrl()" alt=""/>
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-10 d-flex justify-content-center pb-5">
                        <div class="w-md-75 w-md-100">
                            <div>
                                <p class="fs-4 title-date">@category - @date.ToLongDateString() </p>
                            </div>
                            <div>
                                <h3 class="fw-bold fs-1">@title</h3>
                            </div>
                            <div>
                                <p class="fs-4">@summary</p>
                            </div>
                            <div>
                                <a style="cursor: pointer;" class="fs-2" data-id="@id" onclick="openNewsRead(this)">View Live Project</a>
                            </div>
                        </div>
                    </div>
                    <div class="newsRead" id="@id">
                        <div class="newsContent">
                            <div class="headText">
                                <h2>@title</h2>
                            </div>
                            <div class="imgcont-newsRead">
                                <img src="@image?.MediaUrl()" alt=""/>
                            </div>
                            <div class="bodyText">
                                    @Html.Raw(newsContent)
                            </div>
                        </div>
                        <div class="newsClose" data-id="@id" onclick="closeNewsRead(this)">
                            <i class="bi bi-x-lg"></i>
                        </div>
                    </div>
                </div>
                id++;
            }
        }
        else
        {
            <div class="newslet">
                @*If Empty*@
                <h3 class="text-center">No Product Update yet<br/>Check back later</h3>
            </div>
        }
    </div>

    <div class="container newsletter">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-10 second">
                <h3 class="sbns">Want updates straight to your inbox?</h3>
                <p class="fs-5 mb-5">
                    We know you barely have time for all the hustle and bustle of everyday life, but you still want to stay on top of your health trends, 
                    news and the buzz of healthcare. Our GeneSys Health Tech Insider newsletter is loaded with the best of content across the intersection 
                    of health and tech. 
                    We urge you to kick back, chill and relax, while you read.
                </p>
                <form id="newsletter-form" method="POST" action="https://a9675586.sibforms.com/serve/MUIFAK_CIkmdbFlB-_4gAkMva-WfvKHAwlqRP8hiVNFLZ4NjR2mZfK39SEuWt-lC5W6iRP6f1YHG0_u1LcD_BefHOidkojpdWCAPYMdDKe9nqAcPXUgW0cfJM0dYHiMSgg9iTTrJuZw7In5DN1H6s552N4EQPmXJmkC6sdd944Pw7Ag_Q3TvuCVbgJ5iNscnToId6sY9Pl2Sy-vY" data-type="subscription" class="mt-5 validate w-100" target="display-frame">
                    <div class="row gap-2 form-group">
                        <div class="col-7 p-0 form-group">
                            <input type="email" id="EMAIL" name="EMAIL" class="form-control rounded-start py-4 fw-bold fs-5 ps-3" placeholder="Enter your e-mail address" required/>
                        </div>
                        <div class="col-4 d-grid p-0 form-group">
                            <button type="submit" name="subscribe" class="fw-bold fs-5" style="border-radius:0 5px 5px 0; background: #005AC0; border:1px solid transparent; color:white;">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-8 nl-img">
                <img src="~/assets/images/ffv 1.png" width="420px" alt="" />
            </div>
        </div>
        <div class="newsletter-modal rounded shadow" id="successModal">
            <div class="newsletter-modal-dialog" role="document">
                <div class="modal-content">
                    <div class="mod-body p-0">
                        <div class="crop"> <img src="https://static.thenounproject.com/png/3383823-200.png" width="100%"> </div>
                    </div>
                </div>
                <div class="mod-footer">
                    <h2>Success</h2>
                    <p class="text-center"><small class="text-muted">Thank you for your subscription. You'll be sent the next issue of our newspaper shortly. </small></p>
                </div>
            </div>
        </div>
    </div>
    <iframe name="display-frame" style="display:none;"></iframe>
</div>

 @await Html.PartialAsync("~/Views/Partials/_footer.cshtml")