@inherits UmbracoViewPage<ContentModels.ProductPage>;
@{
	Layout = "Master.cshtml";
	ViewData["Title"] = Model.Title;
    var products = Model.Value<BlockGridModel>("products");
    var planItems = Model.Value<BlockGridModel>("PlanItems");
    var testimonials = Model.Value<BlockGridModel>("testimonials");
}

<section class="topHead">
    <div class="topHeadImg position-absolute top-100 start-50 translate-middle">
        <img src="@Model?.ProductMainImage?.Url()" alt="Digital">
        <div class="d-flex align-items-center justify-content-evenly w-100 mt-4">
            <div class="d-flex align-items-center justify-content-center flex-column">
                <h3>100<span>K</span></h3>
                <p>Client satisfaction</p>
            </div>
            <div class="d-flex align-items-center justify-content-center flex-column">
                <h3>24<span>h</span></h3>
                <p>Expert Support Team</p>
            </div>
            <div class="d-flex align-items-center justify-content-center flex-column">
                <h3>208<span>+</span></h3>
                <p>Client worldwide</p>
            </div>
        </div>
    </div>
    <div class="topHeadText">
        <h2>
            @Model?.ProductMainHeading
        </h2>
        <p>
            @Model?.ProductMainSubHeading
        </p>
        <a href="/demo" class="btn btn-primary">Request Demo</a>
    </div>
</section>
<section class="module">
    <div class="row">
        <div class="col-lg-8 col-md-12 second">
            <h3>Our module</h3>
            <p>
                Curabitur egestas consequat lorem, vel fermentum augue porta id. Aliquam lobortis magna neque, gravida consequat velit venenatis at.
            </p>
            <div class="d-flex flex-wrap mb-5">
                <div class="moduleItem">Patient Management</div>
                <div class="moduleItem">Nurse workbench</div>
                <div class="moduleItem active">Inpatient Suite</div>
                <div class="moduleItem">Laboratory</div>
                <div class="moduleItem">Pharmacy</div>
                <div class="moduleItem active">Billing/Finance</div>
                <div class="moduleItem">Manager Dashboardt</div>
                <div class="moduleItem active">Inventory/Store</div>
                <div class="moduleItem">Radiology</div>
                <div class="moduleItem">Queue Managemen</div>
                <div class="moduleItem active">Doctor workbench</div>
                <div class="moduleItem active">+Others</div>
            </div>
            <a class="mBtn" href="#">View all features</a>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="d-flex justify-content-center align-items-center">
                <img src="assets/images/Products/illustration.png" alt="Dig" width="400px">
            </div>
        </div>
    </div>
</section>
<section class="productSec">
    <div class="productSecText">
        @* <h3>Our <span class="text-primary">products</span></h3> *@
        <h3>@Model?.ProductHeading</h3>
        <p>
            @Model?.ProductSubheading
        </p>
    </div>
    <div class="productDisplay">
    </div>
</section>
<section class="features" id="feature">
    <div class="row">
        <div class="col">
            <h3>Features</h3>
            <ul class="fList">
            </ul>
        </div>
        <div class="col-lg-8 col-md-12 featureItemDetailsCnt">
            <h3 id="title">Genesys MIDI</h3>
            <div class="DetailsCnt"></div>
        </div>
    </div>
    @* <div class="my-4 bTop active">
        <a href="#feature" class="p-0 m-0" style="text-decoration: none;">Back to top <i class="bi bi-arrow-up"></i></a>
    </div> *@
</section>
<section class="support">
    <div class="container">
        <div class="row d-flex justify-content-between px-5">
            <div class="col-lg-5 col-md-8">
                <div class="tag"> <p>Support</p></div>
                <h3 class="sbns mb-3">Hey There!</h3>
                <p class="fs-5">
                    Just Incase you didnt find what you were looking for, You can send us a message for a more customizable package for your practice. We are always happy to assist.
                </p>
            </div>
            <div class="col-lg-5 col-md-8 d-flex align-items-center">
                <form class="mt-5 validate w-100">
                    <div class="form-group position-relative">
                        <div class="p-0 form-group">
                            <input type="email" name="EMAIL" class="form-control py-4 fw-bold fs-5 ps-3" placeholder="Send Message" required style="border-radius: 30px;"/>
                        </div>
                        <div class="p-0 form-group position-absolute top-50 end-0 translate-middle-y">
                            <button type="submit" name="subscribe" style="border-radius:50%; border: 1px solid transparent; background: #0ABFF8; color:white; padding: 5px 12px;">
                                <i class="bi bi-send fs-1"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="productPlans">
    <div class="planText">
        <h3>@Model?.PlanHeading</h3>
        <div class="m-auto w-50">
            <p>@Model?.PlanSubHeading</p>
        </div>
    </div>
    <div class="planCont">
         @if (planItems != null)
        {
            @foreach(var plan in planItems)
            {
                var content = plan.Content;
                var name = content.Value<string>("planName");
                var type = content.Value<string>("planType");
                var icon = content.Value<MediaWithCrops>("planIcon");
                var link = content.Value<Link>("planLink");
                var cost = content.Value<int>("planCost");
                var benefits = content.Value<IEnumerable<string>>("planBenefits");
                    
                if (link != null)
                {
                    <div class="shadow planCard">
                        <div class="d-flex justify-content-start align-items-center">
                            <img class="sm me-2" src="@icon?.MediaUrl()" alt=""/>
                            <h3 class="m-0">@name <span class="title">(@type)</span></h3>
                        </div>
                        <div class="mt-3">
                            <p><span class="cost">&#8358;@cost</span><span class="month">/month</span></p>
                        </div>
                        <div class="">
                            <p>What will you get</p>
                        </div>
                        <div class="mt-0">
                            @if (benefits != null)
                            {
                                @foreach (var benefit in benefits)
                                {
                                    <div class="d-flex justify-content-start align-items-center w-100 mb-3 ms-2">
                                        <i class="bi bi-check me-3"></i>
                                        <div class="w-75">
                                            <p class="m-0 pt-2 details pb-2">@benefit</p>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="text-center pe-3">
                                <a href="@link.Url" class="btn text-nowrap getst btn-primary w-50 mt-4">Dive In</a>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</section>
<section class="testimony-pd px-5 pt-5">
    <div class="row w-100 d-flex justify-content-center align-items-center mb-5">
        <div class="mb-5">
            <h1 class="m-0 p-0">@Model?.TestimonialHeading</h1>
            <p class="m-0 p-0">@Model?.TestimonialSubHeading</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center testi-cap mt-5 mb-5">
        @if(testimonials != null)
        {
            @foreach (var testimony in testimonials)
            {
                var content = testimony.Content;
                var image = content.Value<MediaWithCrops>("clientPicture");
                var statement = content.Value<string>("testimony");
                var name = content.Value<string>("clientName");
                var designation = content.Value<string>("clientDesignation");

                <div class="col-lg-3 col-md-5 col-sm-6 position-relative testi rounded-4 shadow pt-5 px-4">
                    <div class="position-absolute top-0 start-50 translate-middle">
                        <img src="@image?.MediaUrl()" alt="" width="70px" />
                    </div>
                    <div class="mt-5">
                        <p class="fs-4">@statement</p>
                        <p class="m-0 p-0">@name</p>
                        <p class="p-0 m-0 fs-5">@designation</p>
                    </div>
                </div>
            }
        }
    </div>
</section>
<section class="productJoin">
    <div class="joinCont">
        <div class="joinImgCont">
            <img src="~/assets/images/About Us/fun-3d.png" class="img-fluid" alt=""/>
        </div>
        <div class="joinText">
            <h3>
                What are you waiting for? <br/>Join thousands of others today.
            </h3>
            <p>
                Make your patients smile and get your medical practice a fast and efficient EMR/HMIS with GeneSys today! We make running your medical practice easy for you.
            </p>
            <a href="http://genesyshmis-001-site1.etempurl.com/availablemodules" class="btn fs-5" style="background-color:#0ABFF8; color:#fff; border-radius:40px;padding:10px 20px;">MAKE THE SWITCH TODAY</a>
        </div>
    </div>
</section>

 @await Html.PartialAsync("~/Views/Partials/_footer.cshtml")